.not-found-container {
  background-color: #121212;
  height: 100vh;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}
.not-found-image {
  width: 230px;
}
@media screen and (min-width: 768px) {
  .not-found-image {
    width: 400px;
  }
}
.not-found-heading {
  font-size: 24px;
  font-family: 'Roboto';
  font-weight: 800;
  margin-top: 20px;
  color: #fff;
}
@media screen and (min-width: 768px) {
  .not-found-heading {
    font-size: 44px;
  }
}
.not-desc {
  font-size: 10px;
  font-family: 'Roboto';
  margin-top: 20px;
  color: #fff;
}
@media screen and (min-width: 768px) {
  .not-desc {
    font-size: 18px;
  }
}
